<footer class="footer mt-5">
  <div class="container-fluid py-4">

    <div class="row align-items-center">

      <div class="col-lg-6 text-center text-lg-start mb-3 mb-lg-0">
        <h4 class="fw-bold">
          <i class="fa-solid fa-list-check text-success"></i>
          To Do List
        </h4>

        <p class="text-light mb-1">
          Stay organized. Stay productive.
        </p>

        <p class="small text-secondary mb-0">
          Developed by <strong>Mohamed Ibrahem</strong>
        </p>
      </div>

      <div class="col-lg-6 text-center text-lg-end">

       <a href="https://github.com/MohamedIbrahem99999"
   target="_blank"
   class="social github">
    <i class="fa-brands fa-github"></i>
</a>

<a href="https://www.linkedin.com/in/mohamed-ibrahem-375a4835b/"
   target="_blank"
   class="social linkedin">
    <i class="fa-brands fa-linkedin-in"></i>
</a>

<a href="https://www.instagram.com/mohamedibrahem2050?igsh=NTkxcG1pNDczeWs2&utm_source=qr"
   target="_blank"
   class="social instagram">
    <i class="fa-brands fa-instagram"></i>
</a>

<a href="https://www.facebook.com/share/1BAGeXUpDK/?mibextid=wwXIfr"
   target="_blank"
   class="social facebook">
    <i class="fa-brands fa-facebook-f"></i>
</a>

<a href="https://wa.me/201020897534?text=Hello%20Mohamed%2C%20I%20visited%20your%20To%20Do%20List%20project."
   target="_blank"
   class="social whatsapp">
    <i class="fa-brands fa-whatsapp"></i>
</a>

      </div>

    </div>

    <hr>

   