<nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container homenav">
        
      <img src="../logo.png" alt="logo" class="logo-img navbar-brand logo-img navbar-brand img-fluid image">
     <!--   <img [src]="imgLogo" alt="logo" class="logo-img navbar-brand img-fluid image"> -->
        <h1 class="logo-text navbar-brand logo">To Do List</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="list navbar-nav ms-auto mb-2 mb-lg-0 ">

                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a href="" class="nav-link" routerLink="home" routerLinkActive="bg-danger text-light">
                        <div>
                            <i class="fa-solid fa-home"></i>
                        </div>
                        Home
                    </a>
                </li>

                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a href="" class="nav-link" routerLink="todos" routerLinkActive="bg-danger text-light">
                        <div>
                            <i class="fa-solid fa-list-ul"></i>
                        </div>
                        To Do List
                    </a>
                </li>

                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a href="" class="nav-link" routerLink="about" routerLinkActive="bg-danger text-light">
                        <div>
                            <i class="fa-solid fa-info-circle"></i>
                        </div>
                        About
                    </a>
                </li>

                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a href="" class="nav-link" routerLink="contact" routerLinkActive="bg-danger text-light">
                        <div>
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        Contact
                    </a>
                </li>

            </ul>
        </div>
        <button class="btn btn-outline-secondary" (click)="toggleTheme()">
    
            <i class="fa-solid" [ngClass]="isDark ? 'fa-sun' : 'fa-moon'">
            </i>
    
        </button>
    </div>
</nav>
