body{
    background: #f8f9fa;
    color: #212529;
    transition: .3s;
}

body.dark-theme{
    background: #121212;
    color: #fff;
}

body.dark-theme .navbar{
    background: #1f1f1f !important;
}

body.dark-theme .card{
    background: #1f1f1f;
    color: white;
}

body.dark-theme .form-control{
    background: #2b2b2b;
    color: white;
    border-color: #555;
}

body.dark-theme .form-control::placeholder{
    color: #aaa;
}

body.dark-theme .list-group-item{
    background: #1f1f1f !important;
    color: white;
}

body.dark-theme .bg-light{
    background: #2b2b2b !important;
    color: white !important;
}

body.dark-theme a{
    color: white;
}

body.dark-theme .logo{
    color: white;
}